html,
body {
    height: 100%;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

dl {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
/* 主 */
.layer {
    width: auto;
  }
  /* 通用遮罩层 */
  .zhezc{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background: rgba(0, 0, 0, 0.5);
  }
  .li-abq1{
      color: rgb(248, 0, 0);
      cursor:pointer;
  }
.li-abq2{
    color: rgb(10, 99, 233);
    cursor:pointer;
}
/* 上传图片 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }